# run pip install -r requirements.txt from FOE_Backend whith your venv active to install requirements

eventlet==0.29.1
flask==1.1.2
flask_cors==3.0.9
Flask-JWT-Extended==3.25.0
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SocketIO==4.3.1
Flask-SqlAlchemy==2.4.1
gunicorn==20.0.4
itsdangerous==1.1.0
passlib==1.7.4
Psycopg2==2.8.3
SQLAlchemy-serializer==1.3.4.2
